/* --------------------- Variable   ----------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
@keyframes bouncing {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-20px); } }

/* --------------------- Base  ----------------------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none !important; }

body {
  overflow-x: hidden; }

*, html, body {
  scroll-behavior: smooth !important; }

/* --------------------- Base  End ----------------------------*/
/* --------------------- Fonts ----------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif; }

p,
a,
span,
li,
figcaption {
  font-family: "Open Sans", sans-serif;
  line-height: 1.82;
  font-size: 16px; }
  @media screen and (min-width: 576.1px) and (max-width: 992px) {
    p,
    a,
    span,
    li,
    figcaption {
      font-size: 15px; } }
  @media screen and (max-width: 576px) {
    p,
    a,
    span,
    li,
    figcaption {
      line-height: 26px;
      font-size: 15px; } }

span {
  line-height: normal; }

figure {
  margin: 0;
  text-align: center;
  border: 2px solid #fff;
  outline: 3px solid #f48a3c;
  border-radius: 10px 10px; }
  @media screen and (min-width: 768px) {
    figure.qr-code img {
      height: 7rem; } }
  @media screen and (max-width: 767.9px) {
    figure.qr-code img {
      height: 7rem; } }
  figure figcaption {
    background: #f48a3c;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 0;
    border-radius: 0 0 10px 10px;
    font-size: 12px; }

@keyframes slidetop {
  from {
    transform: translateY(-30px);
    opacity: 1; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes bounce {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.05); } }

.owl-dots .owl-dot span {
  background: #3e4095 !important; }

.owl-dots .owl-dot.active span {
  background: #00afef !important; }

.primaryHeading {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  line-height: 1; }
  .primaryHeading span {
    text-transform: lowercase;
    font: inherit; }
  .primaryHeading .skyh {
    text-transform: uppercase;
    color: transparent;
    background-image: linear-gradient(135deg, #41b7e9 0%, #2482c4 50%);
    -webkit-background-clip: text; }
  @media screen and (min-width: 576.1px) and (max-width: 992px) {
    .primaryHeading {
      font-size: 3rem;
      line-height: 1.2; } }
  @media screen and (max-width: 576px) {
    .primaryHeading {
      line-height: 40px;
      font-size: 2rem; } }

.heading-five {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #f48a3c;
  line-height: 1;
  margin-bottom: 0; }
  @media screen and (max-width: 576px) {
    .heading-five {
      line-height: 40px;
      font-size: 1.4rem; } }

.heading-six {
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  color: #3e4095;
  padding: 10px 0; }
  @media screen and (min-width: 576.1px) and (max-width: 992px) {
    .heading-six {
      font-size: 1rem; } }
  @media screen and (max-width: 576px) {
    .heading-six {
      line-height: 28px;
      font-size: 0.7rem; } }

.secondaryHeading {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 20px;
  color: #cf1313;
  width: fit-content;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 576px) {
    .secondaryHeading {
      line-height: 24px;
      font-size: 1.2rem; } }

.space40 {
  height: 4rem; }
  @media screen and (max-width: 768px) {
    .space40 {
      height: 2rem; } }

.space30 {
  height: 3rem; }
  @media screen and (max-width: 768px) {
    .space30 {
      height: 2rem; } }

.sub-heading {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 700;
  color: #f48a3c;
  text-align: center; }

.heading-fourth {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0; }

.heading-current {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0; }

.mt-large {
  padding-top: 70px; }
  @media screen and (max-width: 992px) {
    .mt-large {
      padding-top: 50px; } }
  @media screen and (max-width: 768px) {
    .mt-large {
      padding-top: 40px; } }

.primary-list {
  list-style: none; }
  .primary-list li {
    position: relative;
    padding-left: 10px; }
    .primary-list li:not(:last-child) {
      padding-bottom: 10px; }
    .primary-list li::before {
      content: "";
      background: #f48a3c;
      position: absolute;
      top: 10px;
      left: -10px;
      width: 10px;
      height: 10px; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.5s; }
  header.fixed-header {
    background: #ffffff;
    animation: slidetop;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }
    header.fixed-header .logo-grid img {
      padding: 2px 4.5px 3px 0; }
    @media screen and (min-width: 992px) {
      header.fixed-header .container {
        padding: 6px 0;
        transition: all 0.5s; }
        header.fixed-header .container .logo-grid img {
          max-width: 120px;
          transition: all 0.5s; } }
    header.fixed-header .nav-item:not(:last-child) {
      border-right: 1px solid rgba(244, 138, 60, 0.2) !important; }
    header.fixed-header .nav-item a {
      color: #3e4095 !important; }
    header.fixed-header .container {
      padding: 5px 0; }
    header.fixed-header .toggle-me-now span {
      background-color: #3e4095 !important; }
  header .container {
    padding: 25px 0; }
  header .header-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 576px) {
      header .header-grid {
        width: calc(100% - 20px);
        margin: auto; } }
    @media screen and (max-width: 575.9px) {
      header .header-grid {
        width: calc(100% - 20px);
        margin: auto; } }
    header .header-grid .logo-grid img {
      max-width: 200px;
      width: 100%; }
      @media screen and (min-width: 992px) and (max-width: 1199.9px) {
        header .header-grid .logo-grid img {
          max-width: 150px; } }
      @media screen and (max-width: 992px) {
        header .header-grid .logo-grid img {
          max-width: 120px; } }
    header .header-grid .navigation-link ul.navlist {
      margin: 0;
      padding: 0;
      list-style: none; }
      @media screen and (max-width: 991.9px) {
        header .header-grid .navigation-link ul.navlist {
          position: fixed;
          left: 0;
          top: 0;
          height: 100%;
          background: #fff;
          transform: translateX(-100%);
          transition: all 0.5s;
          padding: 30px 0; }
          header .header-grid .navigation-link ul.navlist .nav-item a {
            color: #f48a3c; }
          header .header-grid .navigation-link ul.navlist li {
            padding-left: 30px;
            padding-right: 30px; }
            header .header-grid .navigation-link ul.navlist li:not(:last-child) {
              padding-bottom: 10px;
              margin-bottom: 10px;
              border-bottom: 1px solid rgba(244, 138, 60, 0.2);
              border-right: none !important; }
            header .header-grid .navigation-link ul.navlist li:first-child {
              border-bottom: none; }
          header .header-grid .navigation-link ul.navlist .mobile-logo {
            width: 150px; } }
      @media screen and (max-width: 991.9px) and (min-width: 576px) {
        header .header-grid .navigation-link ul.navlist {
          width: 400px; } }
      @media screen and (max-width: 575.9px) {
        header .header-grid .navigation-link ul.navlist {
          width: 75%; } }
      header .header-grid .navigation-link ul.navlist li.nav-item {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500; }
        @media screen and (min-width: 992px) {
          header .header-grid .navigation-link ul.navlist li.nav-item {
            display: inline-block; } }
        @media screen and (min-width: 992px) and (max-width: 1199.9px) {
          header .header-grid .navigation-link ul.navlist li.nav-item {
            font-size: 14px; } }
        header .header-grid .navigation-link ul.navlist li.nav-item:not(:last-child) {
          margin-right: 7px;
          padding-right: 7px;
          border-right: 1px solid rgba(255, 255, 255, 0.2); }
          @media screen and (min-width: 1400px) {
            header .header-grid .navigation-link ul.navlist li.nav-item:not(:last-child) {
              margin-right: 12px;
              padding-right: 12px; } }
      header .header-grid .navigation-link ul.navlist li a {
        color: #ffffff; }
    header .header-grid .navigation-link .toggle-me-now {
      background: transparent;
      border: none;
      outline: none; }
      @media screen and (min-width: 992px) {
        header .header-grid .navigation-link .toggle-me-now {
          display: none; } }
      header .header-grid .navigation-link .toggle-me-now span {
        height: 3px;
        background-color: #ffffff;
        margin-left: auto; }
        header .header-grid .navigation-link .toggle-me-now span:nth-child(1) {
          width: 30px; }
        header .header-grid .navigation-link .toggle-me-now span:nth-child(2) {
          width: 25px;
          margin-top: 5px;
          margin-bottom: 5px; }
        header .header-grid .navigation-link .toggle-me-now span:nth-child(3) {
          width: 20px; }
    header .header-grid .navigation-link .collapse-now ~ ul.navlist {
      transform: translateX(0) !important; }

.heroSection {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #41b7e9 0%, #2482c4 50%);
  position: relative; }
  .heroSection .container {
    position: relative; }
  .heroSection .kidsGrid {
    display: grid;
    height: 100vh;
    padding: 5rem 0 0 0;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .heroSection .kidsGrid {
        grid-template-columns: repeat(1, 1fr);
        height: auto;
        padding-top: 140px;
        padding-bottom: 50px; } }
    @media screen and (max-width: 768px) {
      .heroSection .kidsGrid__Items .kids-content {
        text-align: center; } }
    .heroSection .kidsGrid__Items .kids-img {
      animation: bouncing .63s ease-in-out infinite alternate; }
      .heroSection .kidsGrid__Items .kids-img img {
        width: 100%; }
    .heroSection .kidsGrid__Items h1 {
      font-size: 80px;
      color: #ffffff;
      font-weight: 900;
      text-transform: capitalize;
      line-height: 55px;
      margin-top: 1rem; }
      .heroSection .kidsGrid__Items h1 span {
        font-size: 49px;
        letter-spacing: 1px;
        font-weight: 700;
        font-family: 'Playfair Display', serif; }
        @media screen and (max-width: 768px) {
          .heroSection .kidsGrid__Items h1 span {
            font-size: 36px;
            letter-spacing: 0; } }
      @media screen and (max-width: 768px) {
        .heroSection .kidsGrid__Items h1 {
          font-size: 36px; } }
    .heroSection .kidsGrid__Items img {
      width: 30rem;
      display: block; }
    .heroSection .kidsGrid__Items h3 {
      font-size: 4rem;
      color: #ffffff;
      font-weight: 500;
      width: fit-content;
      text-transform: uppercase; }
      .heroSection .kidsGrid__Items h3 span {
        font: inherit;
        font-family: 'Playfair Display', serif; }
    .heroSection .kidsGrid__Items h6 {
      font-size: 24px;
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase; }
    .heroSection .kidsGrid__Items h5 {
      font-size: 20px;
      color: #ffffff;
      padding-top: 10px;
      font-weight: 400;
      text-transform: capitalize; }
  .heroSection .figcap {
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    display: block;
    margin: 1rem 0  0 0;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    padding: 10px 5px 10px 5px; }
    @media screen and (min-width: 1400px) {
      .heroSection .figcap {
        font-size: 18px;
        font-weight: 700;
        padding: 10px; } }
    @media screen and (min-width: 992px) {
      .heroSection .figcap {
        width: calc(100% - 6rem); } }
  .heroSection .alfa-logo {
    margin-bottom: 1rem; }
    .heroSection .alfa-logo img {
      width: 20rem; }
    .heroSection .alfa-logo img {
      filter: brightness(10);
      display: block; }

.why-sky .tara {
  width: calc(100% - 9rem);
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 992px) {
    .why-sky .tara {
      margin-top: 30px; } }

.why-sky .why-box-grid {
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .why-sky .why-box-grid.hjk {
    grid-template-columns: repeat(2, 1fr); }
    @media screen and (max-width: 768px) {
      .why-sky .why-box-grid.hjk {
        grid-template-columns: repeat(1, 1fr); } }
    .why-sky .why-box-grid.hjk .outer-box {
      border: 5px solid;
      padding: 20px;
      display: grid;
      place-content: center;
      min-height: 190px;
      text-align: center;
      border-radius: 20px; }
  @media screen and (max-width: 992px) {
    .why-sky .why-box-grid {
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (max-width: 768px) {
    .why-sky .why-box-grid {
      grid-template-columns: repeat(1, 1fr); } }
  .why-sky .why-box-grid .why-box-grid-items:nth-child(1) .outer-box {
    border-color: #ec268f; }
    .why-sky .why-box-grid .why-box-grid-items:nth-child(1) .outer-box:hover {
      background: #ec268f; }
  .why-sky .why-box-grid .why-box-grid-items:nth-child(2) .outer-box {
    border-color: #ffcc29; }
    .why-sky .why-box-grid .why-box-grid-items:nth-child(2) .outer-box:hover {
      background: #ffcc29; }
  .why-sky .why-box-grid .why-box-grid-items:nth-child(3) .outer-box {
    border-color: #9e398f; }
    .why-sky .why-box-grid .why-box-grid-items:nth-child(3) .outer-box:hover {
      background: #9e398f; }
  .why-sky .why-box-grid .why-box-grid-items:nth-child(4) .outer-box {
    border-color: #004d25; }
    .why-sky .why-box-grid .why-box-grid-items:nth-child(4) .outer-box:hover {
      background: #004d25; }
  .why-sky .why-box-grid .why-box-grid-items:nth-child(5) .outer-box {
    border-color: #00afef; }
    .why-sky .why-box-grid .why-box-grid-items:nth-child(5) .outer-box:hover {
      background: #00afef; }
  .why-sky .why-box-grid .why-box-grid-items:nth-child(6) .outer-box {
    border-color: #f48a3c; }
    .why-sky .why-box-grid .why-box-grid-items:nth-child(6) .outer-box:hover {
      background: #f48a3c; }

.why-sky .outer-box {
  border: 5px solid;
  padding: 40px;
  display: grid;
  place-content: center;
  min-height: 195px;
  text-align: center;
  border-radius: 30% 0 30% 0;
  transition: all 0.5s; }
  .why-sky .outer-box:hover {
    border-radius: 0 30% 0 30%; }
    .why-sky .outer-box:hover h4 {
      transition: all 0.5s;
      color: #ffffff; }

.why-sky .edu-table table, .why-sky .edu-table tr, .why-sky .edu-table td {
  border: 1px solid #d2d3d5;
  border-collapse: collapse; }

.why-sky .edu-table td, .why-sky .edu-table th {
  padding: 6px 20px; }
  @media screen and (max-width: 576px) {
    .why-sky .edu-table td, .why-sky .edu-table th {
      padding: 6px; } }

.why-sky .edu-table tr td {
  transition: all 0.5s; }
  .why-sky .edu-table tr td:nth-child(1):hover {
    background: rgba(0, 175, 239, 0.1); }
  .why-sky .edu-table tr td:nth-child(2):hover {
    background: rgba(255, 204, 41, 0.1); }

.why-sky .edu-table th:nth-child(1) {
  background: #70d9ff;
  color: #005270; }

.why-sky .edu-table th:nth-child(2) {
  background: #ffde76;
  color: #a98000; }

.alfa-sky-high .owl-nav {
  display: flex;
  gap: 5px; }
  .alfa-sky-high .owl-nav button {
    background: #3e4095 !important;
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center; }
    .alfa-sky-high .owl-nav button i {
      color: #ffffff; }

.alfa-sky-high .sunita__img img {
  height: 13.5rem; }

.alfa-sky-high .sunita__img ul {
  padding: 15px 10px;
  list-style: none;
  margin-bottom: 0; }
  .alfa-sky-high .sunita__img ul li {
    font-size: 14px; }

.alfa-sky-high .training-group {
  margin-top: 50px; }
  .alfa-sky-high .training-group .item__img {
    background-image: linear-gradient(148deg, rgba(36, 130, 196, 0.1) 50%, rgba(65, 183, 233, 0.1) 50%);
    border: 3px solid #3e4095;
    border-radius: 10px 10px 0 0; }
    .alfa-sky-high .training-group .item__img img {
      width: 100%;
      object-fit: contain;
      height: 250px;
      margin: auto; }
  .alfa-sky-high .training-group .item__content {
    padding: 20px;
    text-align: center;
    background: #3e4095;
    border-radius: 0 0 10px 10px; }
    .alfa-sky-high .training-group .item__content h5 {
      color: #ffffff; }
    .alfa-sky-high .training-group .item__content h6 {
      color: #ffffff; }

.key-question .col-lg-7 .container {
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: 1px solid #d2d3d5;
  border-radius: 20px; }
  @media screen and (max-width: 768px) {
    .key-question .col-lg-7 .container {
      text-align: center; } }

.key-question .col-lg-7 .row {
  align-items: center; }
  .key-question .col-lg-7 .row:not(.last) {
    margin-bottom: 1.2rem;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid rgba(62, 64, 149, 0.5); }

.key-question .ques-wrapper {
  background: var(--clk);
  text-align: center; }
  .key-question .ques-wrapper img {
    height: 84px;
    object-fit: contain;
    object-position: center;
    padding: 10px; }

.key-question .rad-btn input {
  opacity: 0;
  visibility: hidden;
  position: absolute; }
  .key-question .rad-btn input + label {
    text-transform: uppercase;
    color: #3e4095;
    background: transparent;
    font-size: 14px;
    padding: 4px 19px;
    border-radius: 40px;
    cursor: pointer;
    border: 1px solid #3e4095;
    transition: all 0.5s; }
    .key-question .rad-btn input + label:hover {
      background: rgba(0, 175, 239, 0.2); }
  .key-question .rad-btn input:checked + label {
    background: #3e4095;
    color: #ffffff; }

.key-question .quotes {
  height: 100%;
  position: relative; }
  @media screen and (max-width: 992px) {
    .key-question .quotes {
      margin-top: 30px; } }
  .key-question .quotes img {
    height: calc(100% - 68px);
    object-fit: cover;
    object-position: 65% 100%; }
  .key-question .quotes .q-wrapper {
    background: rgba(0, 175, 239, 0.8);
    color: #ffffff;
    width: 100%;
    padding: 5px 30px; }
    .key-question .quotes .q-wrapper h2 {
      font-size: 20px; }
    .key-question .quotes .q-wrapper em {
      text-align: right;
      display: block; }

.gevills {
  background: rgba(210, 211, 213, 0.5);
  margin-top: 70px; }
  @media screen and (max-width: 992px) {
    .gevills {
      margin-top: 50px; } }
  @media screen and (max-width: 768px) {
    .gevills {
      margin-top: 40px; } }
  .gevills .col-lg-7 {
    padding-bottom: 70px; }
    @media screen and (min-width: 768px) {
      .gevills .col-lg-7 .primaryHeading {
        text-align: left;
        margin-bottom: 2rem; } }

@media screen and (max-width: 992px) {
  .background .row {
    flex-direction: column-reverse; } }

.background .owl-background .owl-nav {
  position: absolute;
  right: 50px;
  display: flex;
  gap: 5px; }
  @media screen and (max-width: 992px) {
    .background .owl-background .owl-nav {
      bottom: 0; } }
  @media screen and (max-width: 768px) {
    .background .owl-background .owl-nav {
      bottom: 0;
      right: 0; } }
  .background .owl-background .owl-nav button {
    background: #f48a3c;
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center; }
    .background .owl-background .owl-nav button i {
      color: #ffffff; }

.background .owl-background .item .contant-para {
  padding: 25px;
  border-left: 8px solid var(--clr);
  background: rgba(var(--clr), 0.2);
  margin: 40px 0;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0 10px 10px 0; }

@media screen and (min-width: 992px) {
  .background h2 {
    text-align: left; } }

.background .container {
  position: relative; }
  .background .container .last img {
    height: 25rem;
    object-fit: cover;
    width: 100%;
    object-position: 100% 32%; }
    @media screen and (max-width: 992px) {
      .background .container .last img {
        margin-top: 20px; } }
  @media screen and (min-width: 992px) {
    .background .container .first {
      padding: 70px 0 70px 30px; } }

.background .bc-quotes {
  background: #ffffffd6;
  padding-top: 30px;
  border-radius: 15px; }
  .background .bc-quotes .heading-five {
    margin-bottom: 1rem;
    text-align: center; }

.empowering blockquote {
  border-left: 5px solid #f48a3c;
  padding: 30px;
  background: rgba(244, 138, 60, 0.2); }

.empowering .empowering-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4px;
  border: 4px solid #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  @media screen and (max-width: 992px) {
    .empowering .empowering-grid {
      grid-template-columns: repeat(3, 1fr); } }
  @media screen and (max-width: 768px) {
    .empowering .empowering-grid {
      grid-template-columns: repeat(1, 1fr); } }
  .empowering .empowering-grid .empowering-grid-items {
    position: relative; }
    .empowering .empowering-grid .empowering-grid-items img {
      height: 200px;
      width: 100%;
      object-fit: cover; }
    .empowering .empowering-grid .empowering-grid-items:hover::before {
      top: 0;
      height: 100%;
      opacity: 1; }
    .empowering .empowering-grid .empowering-grid-items:hover .fixed-empw {
      top: 50%;
      opacity: 1;
      visibility: visible; }
    .empowering .empowering-grid .empowering-grid-items::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 0;
      transition: all 0.5s;
      background: rgba(0, 0, 0, 0.5); }
    .empowering .empowering-grid .empowering-grid-items .fixed-empw {
      position: absolute;
      top: 100%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s; }

@media screen and (max-width: 767.9px) {
  .high-effect .content-para {
    margin-top: 1rem; } }

.high-effect .row.align-items-center {
  margin-top: 3rem; }
  @media screen and (min-width: 576.1px) {
    .high-effect .row.align-items-center p {
      font-size: 20px; } }

.high-effect .wrapper-high {
  display: flex;
  overflow: hidden;
  gap: 8px;
  border: 8px solid #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
  .high-effect .wrapper-high img {
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%; }

.literacy-area ul.literacy-list {
  list-style: none;
  padding: 0;
  margin-bottom: 0; }
  .literacy-area ul.literacy-list li {
    padding: 10px 20px;
    border-left: 5px solid; }
    .literacy-area ul.literacy-list li:nth-child(1) {
      background: #fce2f0;
      border-color: #ec268f; }
    .literacy-area ul.literacy-list li:nth-child(2) {
      background: #b3ffd8;
      border-color: #004d25; }
    .literacy-area ul.literacy-list li:nth-child(3) {
      background: #fff4d1;
      border-color: #ffcc29; }
    .literacy-area ul.literacy-list li:nth-child(4) {
      background: #bcedff;
      border-color: #00afef; }
    .literacy-area ul.literacy-list li:nth-child(5) {
      background: #fffbd6;
      border-color: #ffe70a; }
    .literacy-area ul.literacy-list li:nth-child(6) {
      background: #fef2ea;
      border-color: #f48a3c; }
    .literacy-area ul.literacy-list li:not(:last-child) {
      margin-bottom: 10px; }

.literacy-area .literacyimg-grid {
  display: grid;
  border: 2px solid #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  grid-template-columns: repeat(2, 1fr); }
  .literacy-area .literacyimg-grid .literacyimg-grid-item {
    position: relative;
    border: 4px solid #ffffff; }
    .literacy-area .literacyimg-grid .literacyimg-grid-item::before {
      content: "";
      background: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(2px);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transform: scale(0);
      transition: all 0.5s; }
    .literacy-area .literacyimg-grid .literacyimg-grid-item span.story-book {
      position: absolute;
      bottom: 10px;
      z-index: 1;
      right: 10px;
      background: #fff;
      padding: 8px 16px;
      font-size: 14px;
      text-transform: capitalize;
      font-weight: 600;
      letter-spacing: 0.2px;
      opacity: 0;
      transition: all 0.5s;
      transform: scale(0); }
    .literacy-area .literacyimg-grid .literacyimg-grid-item:hover::before {
      opacity: 1;
      transform: scale(1); }
    .literacy-area .literacyimg-grid .literacyimg-grid-item:hover .story-book {
      opacity: 1;
      transform: scale(1); }
    @media screen and (min-width: 768px) {
      .literacy-area .literacyimg-grid .literacyimg-grid-item {
        min-height: 275px; } }
    .literacy-area .literacyimg-grid .literacyimg-grid-item:nth-child(3) {
      grid-column-start: span 2; }
    .literacy-area .literacyimg-grid .literacyimg-grid-item img {
      height: 100%;
      object-fit: cover; }

.praise-alfa .testimonoial-card {
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  padding: 2rem;
  margin: 3rem auto 2rem;
  border-radius: 1rem; }
  @media screen and (min-width: 992px) {
    .praise-alfa .testimonoial-card {
      width: calc(100% - 10rem);
      padding: 0 4rem;
      min-height: 403px; } }
  @media screen and (max-width: 991.9px) {
    .praise-alfa .testimonoial-card {
      min-height: 585px; } }
  .praise-alfa .testimonoial-card .pr-quotes {
    position: absolute;
    top: 4rem;
    left: 7rem;
    opacity: 0.1;
    width: 10rem; }
    @media screen and (max-width: 768px) {
      .praise-alfa .testimonoial-card .pr-quotes {
        width: 3rem;
        left: 2rem;
        top: 2rem; } }
  .praise-alfa .testimonoial-card .pics {
    text-align: center; }
    .praise-alfa .testimonoial-card .pics img {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      object-fit: cover;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1rem;
      border: 3px solid #ffffff;
      outline: 3px solid #f48a3c; }
  .praise-alfa .testimonoial-card .test-data .heading-fourth {
    font-size: 30px;
    margin-bottom: 0;
    line-height: 1; }
    @media screen and (max-width: 768px) {
      .praise-alfa .testimonoial-card .test-data .heading-fourth {
        font-size: 20px; } }
  .praise-alfa .testimonoial-card .test-data .heading-six {
    font-weight: bold;
    font-size: 20px; }
    @media screen and (max-width: 768px) {
      .praise-alfa .testimonoial-card .test-data .heading-six {
        font-size: 16px; } }
  .praise-alfa .testimonoial-card .test-data p {
    margin-bottom: 0; }

.praise-alfa .owl-nav button {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50%; }

@media screen and (min-width: 768px) {
  .praise-alfa .owl-nav .owl-next {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); }
  .praise-alfa .owl-nav .owl-prev {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); } }

.teacher-empowernment {
  padding-top: calc(70px - 2rem); }
  @media screen and (max-width: 992px) {
    .teacher-empowernment {
      padding-top: calc(50px - 2rem); } }
  @media screen and (max-width: 768px) {
    .teacher-empowernment {
      padding-top: calc(40px - 2rem); } }
  .teacher-empowernment .emp-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem; }
    .teacher-empowernment .emp-grid__items .card {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; }
      .teacher-empowernment .emp-grid__items .card__heading h6 {
        color: #ffffff;
        background: var(--hclr);
        font-size: 20px;
        font-weight: bold;
        padding: 0.3rem 0.7rem; }
      .teacher-empowernment .emp-grid__items .card__content {
        padding: 0.7rem; }
  .teacher-empowernment .empower-shot {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px; }
    .teacher-empowernment .empower-shot__item {
      overflow: hidden; }
      .teacher-empowernment .empower-shot__item img {
        transition: all 0.5s; }
        @media screen and (min-width: 1200px) {
          .teacher-empowernment .empower-shot__item img {
            min-height: 15.4rem;
            object-fit: cover; } }
      .teacher-empowernment .empower-shot__item:hover img {
        transform: scale(1.3); }
      .teacher-empowernment .empower-shot__item:last-child {
        grid-column: span 2; }

.t-empower .guide-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; }
  @media screen and (max-width: 768px) {
    .t-empower .guide-grid {
      grid-template-columns: repeat(1, 1fr); } }
  .t-empower .guide-grid__item {
    text-align: center;
    padding: 1rem;
    background: var(--bclr); }
    @media screen and (min-width: 1200px) {
      .t-empower .guide-grid__item {
        min-height: 290px;
        display: flex;
        flex-direction: column;
        justify-content: center; } }
  .t-empower .guide-grid img {
    width: 6rem;
    margin: 0 auto 1rem; }

.certificate {
  background-image: url(../images/certificate-bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
  margin-top: 70px;
  position: relative; }
  @media screen and (max-width: 992px) {
    .certificate {
      padding: 50px 0;
      margin-top: 50px; } }
  @media screen and (max-width: 768px) {
    .certificate {
      padding: 40px 0;
      margin-top: 40px; } }
  .certificate::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 12rem;
    bottom: 8rem;
    left: 0;
    z-index: 0; }
    @media screen and (min-width: 992px) {
      .certificate::before {
        background-image: repeating-linear-gradient(-45deg, #ffffff, #ffffff 10%, #e6e7e8 0, #e6e7e8 28%); } }
    @media screen and (min-width: 992px) and (max-width: 1199.9px) {
      .certificate::before {
        height: 9.7rem; } }
  .certificate .container {
    position: relative;
    z-index: 1; }
  @media screen and (max-width: 992px) {
    .certificate {
      padding: 50px 0; } }
  @media screen and (max-width: 768px) {
    .certificate {
      padding: 40px 0; } }
  .certificate .certi {
    padding: 1rem 0;
    position: relative;
    bottom: 58px; }
    @media screen and (max-width: 992px) {
      .certificate .certi {
        margin-bottom: 30px;
        text-align: center; } }
    @media screen and (max-width: 991.9px) {
      .certificate .certi {
        background-image: repeating-linear-gradient(-45deg, #ffffff, #ffffff 10%, #e6e7e8 0, #e6e7e8 28%);
        bottom: 0;
        padding: 1rem; } }
  .certificate h2 {
    font-size: 4rem; }
  .certificate h3 {
    font-size: 3.5rem; }
    @media screen and (min-width: 992px) {
      .certificate h3 {
        text-align: right; } }
  @media screen and (max-width: 991.9px) {
    .certificate h2 {
      font-size: 2rem; }
    .certificate h3 {
      font-size: 1.5rem; } }
  @media screen and (min-width: 992px) and (max-width: 1199.9px) {
    .certificate h2 {
      font-size: 3rem; }
    .certificate h3 {
      text-align: right;
      font-size: 2.5rem; } }

.toolkit-book nav {
  border-left: 1px solid #3e4095;
  border-right: 1px solid #3e4095; }

.toolkit-book .nav-link {
  width: 33.3333%;
  padding: 1rem;
  color: #ffffff;
  background: linear-gradient(135deg, #41b7e9 0%, #2482c4 50%);
  border-radius: 0; }
  @media screen and (max-width: 576px) {
    .toolkit-book .nav-link {
      padding: 1rem 0.5rem; } }
  .toolkit-book .nav-link.active {
    background: #3e4095;
    color: #ffffff;
    position: relative; }
    .toolkit-book .nav-link.active::before {
      content: "";
      background: #3e4095;
      width: 15px;
      height: 15px;
      transform: translateX(-50%) rotate(45deg);
      left: 50%;
      bottom: -7.5px;
      position: absolute; }

.toolkit-book .tab-content {
  padding: 2rem 3rem;
  border: 1px solid #3e4095;
  border-top: none; }
  @media screen and (max-width: 768px) {
    .toolkit-book .tab-content .col-md-4:not(:last-child) img {
      margin-bottom: 20px; } }
  @media screen and (max-width: 768px) {
    .toolkit-book .tab-content .row {
      gap: 30pxn; } }
  .toolkit-book .tab-content .tab-pane:nth-child(1) p {
    background: rgba(244, 138, 60, 0.2); }
  .toolkit-book .tab-content .tab-pane:nth-child(2) p {
    background: rgba(0, 175, 239, 0.2); }
  .toolkit-book .tab-content .tab-pane:nth-child(3) p {
    background: rgba(0, 77, 37, 0.2); }
  .toolkit-book .tab-content p {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 10px; }
    @media screen and (max-width: 768px) {
      .toolkit-book .tab-content p {
        padding: 0.5rem; } }
  .toolkit-book .tab-content img {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: auto;
    display: block; }
    @media screen and (min-width: 1200px) {
      .toolkit-book .tab-content img {
        width: calc(100% - 100px); } }

.paying-forward .paying-card {
  position: relative;
  padding: 30px 20px 0px 40px;
  min-height: 243px;
  background-color: rgba(0, 175, 239, 0.2);
  display: grid; }
  @media screen and (max-width: 992.1px) {
    .paying-forward .paying-card {
      margin-top: 2rem; } }
  @media screen and (max-width: 767px) {
    .paying-forward .paying-card .icons {
      text-align: center; } }
  @media screen and (min-width: 768px) {
    .paying-forward .paying-card .icons {
      position: absolute;
      top: 0;
      left: 0; } }
  .paying-forward .paying-card .icons img {
    width: 2.5rem; }
  .paying-forward .paying-card a {
    color: #373435;
    text-decoration: underline !important;
    font-weight: 500; }
  .paying-forward .paying-card .whtsap {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .paying-forward .paying-card img {
    width: 5rem; }

.paying-forward .thumnail {
  height: 215px;
  object-fit: cover;
  width: 100%; }

.paying-gallery .owl-nav .owl-prev, .paying-gallery .owl-nav .owl-next {
  position: absolute;
  top: 43%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8) !important;
  width: 40px;
  height: 40px;
  display: grid;
  place-content: center;
  transition: all 0.5s; }
  .paying-gallery .owl-nav .owl-prev:hover, .paying-gallery .owl-nav .owl-next:hover {
    background: #ffffff !important; }
  .paying-gallery .owl-nav .owl-prev i, .paying-gallery .owl-nav .owl-next i {
    color: #3e4095; }

.paying-gallery .owl-nav .owl-prev {
  left: 0; }

.paying-gallery .owl-nav .owl-next {
  right: 0; }

.paying-gallery .item {
  overflow: hidden; }
  .paying-gallery .item .pay-img {
    overflow: hidden;
    position: relative; }
    .paying-gallery .item .pay-img::before {
      content: "";
      background: rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s; }
    .paying-gallery .item .pay-img:hover::before {
      opacity: 1;
      visibility: visible;
      z-index: 1; }
    .paying-gallery .item .pay-img:hover img {
      transform: scale(1.1); }
  .paying-gallery .item img {
    height: 290px;
    transition: all 0.5s;
    object-fit: cover;
    object-position: top;
    width: 100%; }

footer {
  margin-top: 70px;
  background: #3e4095;
  padding-bottom: 70px;
  position: relative; }
  @media screen and (max-width: 992px) {
    footer {
      margin-top: 50px; } }
  @media screen and (max-width: 768px) {
    footer {
      margin-top: 40px; } }
  footer .border-footer {
    background: #ffffff;
    height: 5px;
    width: 10rem;
    margin: 1.5rem 0; }
  footer::before {
    content: "";
    background-image: url(../images/image191.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    mix-blend-mode: hard-light;
    background-position: 100% 30%;
    background-repeat: no-repeat; }
  footer .container {
    position: relative; }
  @media screen and (max-width: 992px) {
    footer {
      padding-bottom: 50px; } }
  @media screen and (max-width: 768px) {
    footer {
      padding-bottom: 40px; } }
  @media screen and (min-width: 768px) {
    footer h2 {
      text-align: left !important; } }
  footer .code-scanner {
    display: flex;
    align-items: center; }
    footer .code-scanner img {
      width: 4rem;
      margin-right: 10px; }
    footer .code-scanner p {
      color: #ffffff;
      align-items: center;
      width: 25rem;
      margin-bottom: 0; }
      @media screen and (max-width: 575px) {
        footer .code-scanner p {
          width: 100%; } }
  footer .f-logo {
    width: 14rem; }
  footer ul.footer-touch {
    list-style: none;
    padding: 0;
    margin: 3rem 0 0 0; }
    footer ul.footer-touch li {
      color: #ffffff;
      font-size: 20px; }
      footer ul.footer-touch li i {
        font-size: 2rem; }
      footer ul.footer-touch li:not(:first-child) {
        display: flex;
        align-items: center;
        gap: 1rem; }
      footer ul.footer-touch li:not(:last-child) {
        margin-bottom: 1rem; }
      footer ul.footer-touch li a {
        color: #ffffff; }
  footer img.footer-alfa {
    width: 20rem;
    float: right;
    filter: brightness(6);
    margin-top: 2rem; }

.inner-section {
  background: #3e4095;
  position: relative;
  min-height: 450px;
  display: grid;
  place-content: center; }
  @media screen and (max-width: 992px) and (min-width: 576px) {
    .inner-section {
      min-height: 380px; } }
  @media screen and (max-width: 575.9px) {
    .inner-section {
      min-height: 250px; } }
  .inner-section::before {
    content: "";
    background-image: url(../gallery/img/image191.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    mix-blend-mode: soft-light;
    background-position: 100% 30%;
    background-repeat: no-repeat; }
  .inner-section .container {
    position: relative; }
  .inner-section h1 {
    padding-top: 50px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 72px; }
    @media screen and (max-width: 992px) and (min-width: 576px) {
      .inner-section h1 {
        font-size: 48px; } }
    @media screen and (max-width: 575.9px) {
      .inner-section h1 {
        font-size: 36px; } }

.lightbox-gallery .carousel-indicators {
  display: none; }

@keyframes zoomin {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05); }
  100% {
    transform: scale(1); } }

.lightbox-gallery .gallery-item {
  display: block; }

.lightbox-gallery .carousel-control-next-icon, .lightbox-gallery .carousel-control-prev-icon {
  filter: none !important; }
  .lightbox-gallery .carousel-control-next-icon::after, .lightbox-gallery .carousel-control-prev-icon::after {
    width: 100%;
    height: 4rem;
    filter: brightness(10); }

.lightbox-gallery .gallery-item img {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s;
  height: 270px;
  width: 100%;
  object-fit: cover;
  object-position: top; }
  @media screen and (max-width: 575.9px) {
    .lightbox-gallery .gallery-item img {
      height: 240px; } }

.lightbox-gallery .gallery-item:hover img {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.35); }

.lightbox-gallery .lightbox-modal .modal-content {
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(5px);
  cursor: -webkit-grabbing; }

.lightbox-gallery .lightbox-modal .btn-close {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  font-size: 2.2rem;
  z-index: 10;
  filter: invert(1) grayscale(100); }
  @media screen and (max-width: 575.9px) {
    .lightbox-gallery .lightbox-modal .btn-close {
      font-size: 1rem; } }

.lightbox-gallery .lightbox-modal .modal-body {
  display: flex;
  align-items: center;
  padding: 0; }

.lightbox-gallery .lightbox-modal .lightbox-content {
  width: 100%; }

.lightbox-gallery .lightbox-modal .carousel-indicators {
  margin-bottom: 0; }

.lightbox-gallery .lightbox-modal .carousel-inner {
  width: 75%; }

.lightbox-gallery .lightbox-modal .carousel-inner img {
  animation: zoomin 10s linear infinite;
  max-height: 80vh;
  object-fit: cover;
  object-position: top; }

.lightbox-gallery .lightbox-modal .carousel-item .carousel-caption {
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 2rem; }
  .lightbox-gallery .lightbox-modal .carousel-item .carousel-caption h4 {
    color: #ffffff;
    background: rgba(55, 52, 53, 0.8);
    padding: 10px; }

.lightbox-gallery .lightbox-modal .carousel-control-prev,
.lightbox-gallery .lightbox-modal .carousel-control-next {
  width: auto; }

.lightbox-gallery .lightbox-modal .carousel-control-prev {
  left: 1.25rem; }

.lightbox-gallery .lightbox-modal .carousel-control-next {
  right: 1.25rem; }

@media (min-width: 1400px) {
  .lightbox-gallery .lightbox-modal .carousel-inner {
    max-width: 60%; } }

.lightbox-gallery [data-bs-theme="dark"] .lightbox-modal .carousel-control-next-icon,
.lightbox-gallery [data-bs-theme="dark"] .lightbox-modal .carousel-control-prev-icon {
  filter: none; }

.lightbox-gallery .btn-fullscreen-enlarge,
.lightbox-gallery .btn-fullscreen-exit {
  position: absolute;
  top: 1.25rem;
  right: 3.5rem;
  z-index: 10;
  border: 0;
  background: transparent;
  opacity: .6;
  font-size: 1.25rem; }

.cms-cis-gallery .gallery-cis img {
  height: 206.2px;
  object-fit: cover;
  object-position: top;
  border: 2px solid #3e4095;
  border-radius: 10px;
  width: 100%; }

.cms-cis-gallery .owl-nav {
  display: flex;
  gap: 5px;
  justify-content: flex-end; }
  .cms-cis-gallery .owl-nav button i {
    color: #ffffff;
    background: #3e4095;
    padding: 10px; }

.cms-cis-gallery .gal-btn {
  text-align: center; }
  .cms-cis-gallery .gal-btn a {
    background: #3e4095;
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 30px;
    width: 270px;
    border: 1px solid #3e4095;
    transition: all 0.5s; }
    .cms-cis-gallery .gal-btn a:hover {
      background: transparent;
      color: #3e4095; }

.interest-heads {
  background-image: linear-gradient(135deg, #41b7e9 0%, #2482c4 50%);
  position: static; }

.intersetForm {
  margin: auto;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  background: #ffffff; }
  @media screen and (min-width: 1200px) {
    .intersetForm {
      max-width: 1140px; } }

.intersetForm label {
  color: #373435; }

.intersetForm .form-control:focus,
.intersetForm textarea:focus,
.intersetForm textarea:focus-visible,
.intersetForm .form-select:focus {
  box-shadow: none;
  border: 1px solid !important; }

.intersetForm .form-control, .intersetForm .form-select {
  border: 1px solid #cfcfcf; }

.intersetForm textarea {
  width: 100%;
  border: 1px solid #cfcfcf;
  resize: none; }

.intersetForm .submit-area {
  text-align: center; }
  .intersetForm .submit-area button {
    background-image: linear-gradient(135deg, #41b7e9 0%, #2482c4 50%); }

.intersetForm input#gradeLevels {
  width: 200px; }

.intersetForm input#gradeLevels::placeholder {
  color: #cfcfcf;
  font-size: 13px;
  font-style: italic; }

.intersetForm input[type="radio"] {
  position: absolute;
  display: none;
  transform: scale(0); }

.intersetForm input[type="radio"] + label {
  background: #ffffff;
  border: 1px solid #cfcfcf;
  display: block;
  padding: 12px;
  border-radius: 30px;
  font-weight: 700;
  text-align: center; }
  .intersetForm input[type="radio"] + label:hover {
    background-image: linear-gradient(135deg, #41b7e9 0%, #2482c4 50%);
    color: #ffffff;
    cursor: pointer; }

.intersetForm input[type="radio"]:checked + label {
  background-image: linear-gradient(135deg, #41b7e9 0%, #2482c4 50%);
  color: #ffffff; }

.formed-bg {
  position: relative;
  padding-bottom: 70px; }
  .formed-bg::before {
    content: "";
    background-image: url(../images/image191.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    mix-blend-mode: hard-light;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.12; }

.grade-grid .grade-gride-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 1rem; }

.grade-grid .grade-qty input::placeholder {
  color: #cfcfcf;
  font-size: 13px;
  font-style: italic; }
