/* --------------------- Variable   ----------------------------*/
/* --------------------- Base  ----------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

a {
  text-decoration: none !important; }

body {
  overflow-x: hidden; }

/* --------------------- Base  End ----------------------------*/
/* --------------------- Fonts ----------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif; }

p,
a,
span,
li,
figcaption {
  font-family: "Open Sans", sans-serif;
  line-height: 30px;
  font-size: 18px; }
  @media screen and (min-width: 576.1px) and (max-width: 992px) {
    p,
    a,
    span,
    li,
    figcaption {
      font-size: 16px; } }
  @media screen and (max-width: 576px) {
    p,
    a,
    span,
    li,
    figcaption {
      line-height: 26px;
      font-size: 15px; } }

span {
  line-height: normal; }

figure {
  margin: 0;
  text-align: center;
  border: 2px solid #fff;
  outline: 3px solid #ffcc29;
  border-radius: 10px 10px; }
  figure figcaption {
    background: #ffcc29;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding: 5px 0;
    border-radius: 0 0 10px 10px; }

@keyframes slidetop {
  from {
    transform: translateY(-30px);
    opacity: 1; }
  to {
    transform: translateY(0);
    opacity: 1; } }

@keyframes bounce {
  from {
    transform: scale(1); }
  to {
    transform: scale(1.05); } }

.primaryHeading {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  line-height: 1; }
  .primaryHeading span {
    text-transform: lowercase;
    font: inherit; }
  @media screen and (min-width: 576.1px) and (max-width: 992px) {
    .primaryHeading {
      font-size: 3rem;
      line-height: 1.2; } }
  @media screen and (max-width: 576px) {
    .primaryHeading {
      line-height: 40px;
      font-size: 2rem; } }

.heading-five {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: #f48a3c;
  line-height: 1;
  margin-bottom: 0; }
  @media screen and (max-width: 576px) {
    .heading-five {
      line-height: 40px;
      font-size: 1.4rem; } }

.heading-six {
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  color: #3e4095;
  padding: 10px 0; }
  @media screen and (min-width: 576.1px) and (max-width: 992px) {
    .heading-six {
      font-size: 1rem; } }
  @media screen and (max-width: 576px) {
    .heading-six {
      line-height: 28px;
      font-size: 0.7rem; } }

.secondaryHeading {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
  margin-top: 20px;
  color: #cf1313;
  width: fit-content;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 576px) {
    .secondaryHeading {
      line-height: 24px;
      font-size: 1.2rem; } }

.space40 {
  height: 4rem; }
  @media screen and (max-width: 768px) {
    .space40 {
      height: 2rem; } }

.space30 {
  height: 2rem; }

.mt-large {
  margin-top: 70px; }
  @media screen and (max-width: 992px) {
    .mt-large {
      margin-top: 50px; } }
  @media screen and (max-width: 768px) {
    .mt-large {
      margin-top: 40px; } }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.5s; }
  header.fixed-header {
    background: #ffffff;
    animation: slidetop;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; }
    @media screen and (min-width: 992px) {
      header.fixed-header .container {
        padding: 6px 0;
        transition: all 0.5s; }
        header.fixed-header .container .logo-grid img {
          max-width: 150px;
          transition: all 0.5s; } }
    header.fixed-header .nav-item:not(:last-child) {
      border-right: 1px solid rgba(244, 138, 60, 0.2) !important; }
    header.fixed-header .nav-item a {
      color: #3e4095 !important; }
    header.fixed-header .container {
      padding: 15px 0; }
    header.fixed-header .toggle-me-now span {
      background-color: #3e4095 !important; }
  header .container {
    padding: 25px 0; }
  header .header-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
    @media screen and (max-width: 576px) {
      header .header-grid {
        width: calc(100% - 20px);
        margin: auto; } }
    @media screen and (max-width: 575.9px) {
      header .header-grid {
        width: calc(100% - 20px);
        margin: auto; } }
    header .header-grid .logo-grid img {
      max-width: 200px;
      width: 100%;
      background: #ffffff;
      padding: 8px 18px; }
      @media screen and (min-width: 992px) and (max-width: 1199.9px) {
        header .header-grid .logo-grid img {
          max-width: 150px; } }
      @media screen and (max-width: 992px) {
        header .header-grid .logo-grid img {
          max-width: 120px; } }
    header .header-grid .navigation-link ul.navlist {
      margin: 0;
      padding: 0;
      list-style: none; }
      @media screen and (max-width: 991.9px) {
        header .header-grid .navigation-link ul.navlist {
          position: fixed;
          left: 0;
          top: 0;
          height: 100%;
          background: #fff;
          transform: translateX(-100%);
          transition: all 0.5s;
          padding: 30px 0; }
          header .header-grid .navigation-link ul.navlist .nav-item a {
            color: #f48a3c; }
          header .header-grid .navigation-link ul.navlist li {
            padding-left: 30px;
            padding-right: 30px; }
            header .header-grid .navigation-link ul.navlist li:not(:last-child) {
              padding-bottom: 10px;
              margin-bottom: 10px;
              border-bottom: 1px solid rgba(244, 138, 60, 0.2);
              border-right: none !important; }
            header .header-grid .navigation-link ul.navlist li:first-child {
              border-bottom: none; }
          header .header-grid .navigation-link ul.navlist .mobile-logo {
            width: 150px; } }
      @media screen and (max-width: 991.9px) and (min-width: 576px) {
        header .header-grid .navigation-link ul.navlist {
          width: 400px; } }
      @media screen and (max-width: 575.9px) {
        header .header-grid .navigation-link ul.navlist {
          width: 75%; } }
      header .header-grid .navigation-link ul.navlist li.nav-item {
        text-transform: capitalize;
        font-size: 16px;
        letter-spacing: 0.8px;
        font-weight: 500; }
        @media screen and (min-width: 992px) {
          header .header-grid .navigation-link ul.navlist li.nav-item {
            display: inline-block; } }
        @media screen and (min-width: 992px) and (max-width: 1199.9px) {
          header .header-grid .navigation-link ul.navlist li.nav-item {
            font-size: 14px; } }
        header .header-grid .navigation-link ul.navlist li.nav-item:not(:last-child) {
          margin-right: 7px;
          padding-right: 7px;
          border-right: 1px solid rgba(255, 255, 255, 0.2); }
          @media screen and (min-width: 1400px) {
            header .header-grid .navigation-link ul.navlist li.nav-item:not(:last-child) {
              margin-right: 12px;
              padding-right: 12px; } }
      header .header-grid .navigation-link ul.navlist li a {
        color: #ffffff; }
    header .header-grid .navigation-link .toggle-me-now {
      background: transparent;
      border: none;
      outline: none; }
      @media screen and (min-width: 992px) {
        header .header-grid .navigation-link .toggle-me-now {
          display: none; } }
      header .header-grid .navigation-link .toggle-me-now span {
        height: 3px;
        background-color: #ffffff;
        margin-left: auto; }
        header .header-grid .navigation-link .toggle-me-now span:nth-child(1) {
          width: 30px; }
        header .header-grid .navigation-link .toggle-me-now span:nth-child(2) {
          width: 25px;
          margin-top: 5px;
          margin-bottom: 5px; }
        header .header-grid .navigation-link .toggle-me-now span:nth-child(3) {
          width: 20px; }
    header .header-grid .navigation-link .collapse-now ~ ul.navlist {
      transform: translateX(0) !important; }

.heroSection {
  min-height: 100vh;
  background-image: linear-gradient(135deg, #41b7e9 0%, #2482c4 50%); }
  .heroSection .kidsGrid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between; }
    .heroSection .kidsGrid__Items h1 {
      font-size: 60px;
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase; }
    .heroSection .kidsGrid__Items h2 {
      font-size: 24px;
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase; }
    .heroSection .kidsGrid__Items h3 {
      font-size: 24px;
      color: #ffffff;
      font-weight: 300;
      margin-bottom: 30px;
      padding: 8px;
      width: fit-content;
      border-top: 1px solid #ffffff;
      border-bottom: 1px solid #ffffff;
      text-transform: uppercase; }
      .heroSection .kidsGrid__Items h3 span {
        font: inherit; }
    .heroSection .kidsGrid__Items h6 {
      font-size: 18px;
      color: #ffffff;
      font-weight: 700;
      text-transform: uppercase; }
    .heroSection .kidsGrid__Items span {
      font-size: 15px;
      color: #ffffff;
      font-weight: 400;
      text-transform: uppercase; }

.alfa-sky-high .sunita__img img {
  height: 15rem; }

.alfa-sky-high .sunita__img ul {
  padding: 0 10px;
  list-style: none; }
  .alfa-sky-high .sunita__img ul li {
    font-size: 14px; }

.alfa-sky-high .training-group {
  margin-top: 50px; }
  .alfa-sky-high .training-group .item__img {
    background-image: linear-gradient(148deg, rgba(36, 130, 196, 0.1) 50%, rgba(65, 183, 233, 0.1) 50%);
    border: 3px solid #3e4095;
    border-radius: 10px 10px 0 0; }
    .alfa-sky-high .training-group .item__img img {
      width: 200px;
      margin: auto; }
  .alfa-sky-high .training-group .item__content {
    padding: 20px;
    text-align: center;
    background: #3e4095;
    border-radius: 0 0 10px 10px; }
    .alfa-sky-high .training-group .item__content h5 {
      color: #ffffff; }
    .alfa-sky-high .training-group .item__content h6 {
      color: #ffffff; }
