/* --------------------- Variable   ----------------------------*/

$colorPrimary: #f48a3c;
$colorSecondary: #3e4095;
// $colorTertiary: #ffd895;
$colorBorder:#80cfd7;
$colorBlack: #373435;
$colorWhite: #ffffff;
$colorPink:#ec268f;
$colorGreen:#004d25;
$colorBlue:#00afef;
$colorOrange:#ffcc29;
$colorGrey:#d2d3d5;
$colorPurple:#9e398f;
$colorYellow:#fffbd6;


$GradientOne:linear-gradient(135deg, rgba(65,183,233,1) 0%, rgba(36,130,196,1) 50%);

$boxShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

/* --------------------- Base  ----------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}

body{
  overflow-x: hidden;
}

*, html, body{
  scroll-behavior: smooth!important;
}

/* --------------------- Base  End ----------------------------*/

/* --------------------- Fonts ----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: "Poppins", sans-serif;
  font-family: 'Playfair Display', serif;
}

p,
a,
span,
li, 
figcaption {
  font-family: "Open Sans", sans-serif;
  line-height: 1.82;
    font-size: 16px;
  @media screen and (min-width:576.1px) and (max-width:992px) {
    font-size: 15px;
  }
  @media screen and (max-width: 576px) {
    line-height: 26px;
    font-size: 15px;
  }
}
span {
  line-height: normal;
}
figure {
    margin: 0;
    text-align: center;
    border: 2px solid #fff;
    outline: 3px solid $colorPrimary;
    border-radius: 10px 10px;
    &.qr-code{
      img{
        @media screen and (min-width:768px) {
          height: 7rem;
        }
        @media screen and (max-width:767.9px) {
          height: 7rem;
        }
      }
    }
    figcaption{
        background: $colorPrimary;
        color: $colorWhite;
        text-transform: uppercase;
        text-align: center;
        padding: 5px 0;
        border-radius: 0 0 10px 10px;
        font-size: 12px;
    }
}

// Animation
@keyframes slidetop {
  from {
    transform: translateY(-30px);
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounce {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

// Mixins

.owl-dots{
  .owl-dot{
    span{
      background: $colorSecondary!important;
    }
    &.active{
      span{
        background: $colorBlue!important;
      }
    }
  }
}


.primaryHeading {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  span{
    text-transform: lowercase;
    font: inherit;
  }
  .skyh{
    text-transform: uppercase;
    color: transparent;
    background-image: $GradientOne;
    -webkit-background-clip:text;
  }
  @media screen and (min-width:576.1px) and (max-width:992px) {
    font-size: 3rem;
    line-height: 1.2;
  }
  @media screen and (max-width: 576px) {
    line-height: 40px;
    font-size: 2rem;
  }
}
.heading-five{
    font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: $colorPrimary;
  line-height: 1;
  margin-bottom: 0;
  @media screen and (max-width: 576px) {
    line-height: 40px;
    font-size: 1.4rem;
  }
}
.heading-six{
    font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  color: $colorSecondary;
    padding: 10px 0;
    @media screen and (min-width:576.1px) and (max-width:992px) {
      font-size: 1rem;
    }
  @media screen and (max-width: 576px) {
    line-height: 28px;
    font-size: 0.7rem;
  }
}
.secondaryHeading {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 20px;
  color: #cf1313;
  width: fit-content;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 576px) {
      line-height: 24px;
      font-size: 1.2rem;
    }
}
.space40 {
  height: 4rem;
  @media screen and (max-width:768px) {
    height: 2rem;
  }
}
.space30 {
    height: 3rem;
    @media screen and (max-width:768px) {
      height: 2rem;
    }
  }

  .sub-heading{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    color: $colorPrimary;
    text-align: center;
  }

  .heading-fourth {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0;
}

 .heading-current {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0;
}


.mt-large{
  padding-top: 70px;
  @media screen and (max-width:992px) {
    padding-top: 50px;
  }
  @media screen and (max-width:768px) {
    padding-top: 40px;
  }
}

.primary-list{
  list-style: none;
  li{
    position: relative;
    padding-left: 10px;
    &:not(:last-child){
      padding-bottom: 10px;
    }
    &::before{
      content: "";
      background: $colorPrimary;
      position: absolute;
      top: 10px;
      left: -10px;
      width: 10px;
      height: 10px;
    }
  }
}


// Main Styling

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.5s;
  &.fixed-header {
    background: $colorWhite;
    animation: slidetop;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .logo-grid img{
      background-image: $GradientOne;
      padding: 2px 4.5px 3px 0;
    }
    @media screen and (min-width:992px) {
      .container{
        padding: 6px 0;
        transition: all 0.5s;
        .logo-grid img {
          max-width: 120px;
          transition: all 0.5s;
        }
      }
    }
    .nav-item {
      &:not(:last-child){
        border-right: 1px solid rgba($colorPrimary, 0.2)!important;
      }
      a{
        color: $colorSecondary!important;
      }
    }
    .container {
      padding: 5px 0;
    }
    .toggle-me-now span {
      background-color: $colorSecondary !important;
    }
  }
  .container {
    padding: 25px 0;
  }
  .header-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width:576px) {
      width: calc(100% - 20px);
    margin: auto;
    }
    @media screen and (max-width:575.9px) {
      width: calc(100% - 20px);
    margin: auto;
    }
    .logo-grid {
      img {
        max-width: 200px;
        width: 100%;
        @media screen and (min-width:992px) and (max-width:1199.9px) {
          max-width: 150px;
        }
        @media screen and (max-width:992px) {
          max-width: 120px;
        }
      }
    }
    .navigation-link {
      ul.navlist {
        margin: 0;
        padding: 0;
        list-style: none;
        @media screen and (max-width:991.9px) {
          position: fixed;
          left: 0;
          top: 0;
          height: 100%;
          background: #fff;
          transform: translateX(-100%);
          transition: all 0.5s;
          padding: 30px 0;
          .nav-item a{
            color: $colorPrimary;
          }
          li{
            padding-left: 30px;
              padding-right: 30px;
            &:not(:last-child){
              padding-bottom: 10px;
              margin-bottom: 10px;
              border-bottom: 1px solid rgba($colorPrimary, 0.2);
              border-right: none!important;
            }
            &:first-child{
              border-bottom: none;
            }
          }
          .mobile-logo{
            width: 150px;
          }
        }
        @media screen and (max-width:991.9px) and (min-width:576px) {
          width: 400px;
        }
        @media screen and (max-width:575.9px) {
          width: 75%;
        }
        li{
          &.nav-item {
            @media screen and (min-width:992px) {
              display: inline-block;
            }
            @media screen and (max-width:991.9px) {
              
            }
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 500;
            @media screen and (min-width:992px) and (max-width:1199.9px) {
              font-size: 14px;
            }
            &:not(:last-child){
              margin-right: 7px;
              padding-right: 7px;
              border-right: 1px solid rgba($colorWhite, 0.2);
              @media screen and (min-width:1400px) {
                margin-right: 12px;
    padding-right: 12px;
              }
            }
        }
          a{
            color: $colorWhite;
          }
        }
    }
      .toggle-me-now {
        background: transparent;
        border: none;
        outline: none;
        @media screen and (min-width:992px) {
          display: none;
        }
        span{
          height: 3px;
          background-color: $colorWhite;
          margin-left: auto;
          &:nth-child(1){
            width: 30px;
          }
          &:nth-child(2){
            width: 25px;
            margin-top: 5px;
            margin-bottom: 5px;
          }
          &:nth-child(3){
            width: 20px;
          }
        }
      }
      .collapse-now ~ ul.navlist {
        transform: translateX(0)!important;
    }
    }
  }
}
.heroSection{
  min-height: 100vh;
  background-image: $GradientOne;
  position: relative;
  // &::before{
  //   content: "";
  //   background-image: url(../images/image192.png);
  //   bottom: -20%;
  //   left: 8%;
  //   transform: translateX(-50%)rotate(24.5deg);
  //   position: absolute;
  //   width: 100%;
  //   height: 100%;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  // }
  .container{
    position: relative;
  }
  .kidsGrid {
    display: grid;
    height: 100vh;
    padding: 5rem 0 0 0;
    grid-template-columns: repeat(2, 1fr);
  @media screen and (max-width:768px) {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
    padding-top: 140px;
    padding-bottom: 50px;
  }
    align-items: center;
    justify-content: space-between;
    &__Items{
      .kids-content{
        @media screen and (max-width:768px) {
          text-align: center;
        }
      }
      .kids-img{
        img{
          width: 100%;
        }
      }
      h1{
        font-size: 80px;
        color: $colorWhite;
        font-weight: 900;
        text-transform: capitalize;
        line-height: 55px;
        margin-top: 1rem;
        span{
          font-size: 49px;
          letter-spacing: 1px;
          font-weight: 700;
          font-family: 'Playfair Display', serif;
           @media screen and (max-width:768px) {
    font-size: 36px;
    letter-spacing: 0;
  }
        }
  @media screen and (max-width:768px) {
    font-size: 36px;
  }
      }
      img{
        width: 30rem;
    display: block;
      }
      h3{
        font-size: 4rem;
        color: $colorWhite;
        font-weight: 500;
        width: fit-content;
        text-transform: uppercase;
        span{
          font:inherit;
          font-family: 'Playfair Display', serif;
        }
      }
      h6{
        font-size: 24px;
        color: $colorWhite;
        font-weight: 700;
        text-transform: uppercase;
      }
      h5{
        font-size: 20px;
        color: $colorWhite;
        padding-top: 10px;
        font-weight: 400;
        text-transform: capitalize;
      }
    }
}
  .figcap{
    font-size: 16px;
    font-weight: 500;
    color: $colorWhite;
    display: block;
    margin: 1rem 0  0 0;
    border-top: 1px solid $colorWhite;
    border-bottom: 1px solid $colorWhite;
    padding: 10px 5px 10px 5px;
    @media screen and (min-width:1400px) {
      font-size: 18px;
      font-weight: 700;
      padding: 10px;
    }
    @media screen and (min-width:992px) {
      width: calc(100% - 6rem);
    }
  }
  .alfa-logo{
    margin-bottom: 1rem;
    img{
      width: 20rem;
    }
    img{
      filter: brightness(10);
    display: block;
    }
  }
}
.why-sky{
  .tara{
        width: calc(100% - 9rem);
        margin-left: auto;
        margin-right: auto;
        @media screen and (max-width:992px) {
          margin-top: 30px;
        }
      }
  .why-box-grid{
    &.hjk{
      grid-template-columns: repeat(2, 1fr);
      @media screen and (max-width:768px) {
        grid-template-columns: repeat(1, 1fr);
      }
      .outer-box{
    border: 5px solid;
    padding: 20px;
    display: grid;
    place-content: center;
    min-height: 190px;
    text-align: center;
    border-radius: 20px;
      }
    }
    gap:30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media screen and (max-width:992px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width:768px) {
    grid-template-columns: repeat(1, 1fr);
  }
    .why-box-grid-items{
      &:nth-child(1){
        .outer-box{
          border-color: $colorPink;
          &:hover{
            background: $colorPink;
          }
        }
      }
       &:nth-child(2){
        .outer-box{
          border-color: $colorOrange;
          &:hover{
            background: $colorOrange;
          }
        }
      }
       &:nth-child(3){
        .outer-box{
          border-color: $colorPurple;
          &:hover{
            background: $colorPurple;
          }
        }
      }
       &:nth-child(4){
        .outer-box{
          border-color: $colorGreen;
          &:hover{
            background: $colorGreen;
          }
        }
      }
       &:nth-child(5){
        .outer-box{
          border-color: $colorBlue;
          &:hover{
            background: $colorBlue;
          }
        }
      }
       &:nth-child(6){
        .outer-box{
          border-color: $colorPrimary;
          &:hover{
            background: $colorPrimary;
          }
        }
      }
    }
  }
  .outer-box{
    border: 5px solid;
    padding: 40px;
    display: grid;
    place-content: center;
    min-height: 195px;
    text-align: center;
    border-radius: 30% 0 30% 0;
    transition: all 0.5s;
    &:hover{
      border-radius: 0 30% 0 30%;
      h4{
        transition: all 0.5s;
        color: $colorWhite;
      }
    }
  }
  .edu-table{
    table, tr, td{
      border: 1px solid $colorGrey;
      border-collapse: collapse;
    }
    td, th {
    padding: 6px 20px;
    @media screen and (max-width:576px) {
      padding: 6px;
    }
}
tr{
  td{
    transition: all 0.5s;
    &:nth-child(1){
      &:hover{
        background: rgba($colorBlue, 0.1);
      }
    }
    
    &:nth-child(2){
      &:hover{
        background: rgba($colorOrange, 0.1);
      }
    }
  }
}
th{
  &:nth-child(1){
    background: lighten($colorBlue, $amount: 25);
    color: darken($colorBlue, $amount: 25);
  }
  &:nth-child(2){
    background: lighten($colorOrange, $amount: 15);
    color: darken($colorOrange, $amount: 25);
  }
}
  }
}
.alfa-sky-high{
  .owl-nav{
    // position: absolute;
    display: flex;
    gap: 5px;
    button{
      background: $colorSecondary!important;
      width: 30px;
      height: 30px;
      display: grid;
      place-content: center;
      i{
        color: $colorWhite;
      }
    }
  }
  .sunita{
    &__img{
      img{
        height: 13.5rem;
      }
      ul{
        padding: 15px 10px;
        list-style: none;
        margin-bottom: 0;
        li{
          font-size: 14px;
        }
      }
     } 
    }
    .training-group{
        margin-top: 50px;
      .item{
        &__img{
          background-image: linear-gradient(148deg, rgba(36,130,196,0.1) 50%, rgba(65,183,233,0.1) 50%);
          border: 3px solid $colorSecondary;
          border-radius: 10px 10px 0 0;
          img{
            width: 100%;
            object-fit: contain;
            height: 250px;
          margin: auto;
          }
        }
        &__content{
          padding: 20px;
          text-align: center;
          background: $colorSecondary;
          border-radius: 0 0 10px 10px;
          h5{
            color: $colorWhite;
          }
          h6{
            color: $colorWhite;
          }
        }
      }
    }
  }
  .key-question{
    .col-lg-7 .container{
      padding: 30px;
      box-shadow: $boxShadow;
      border: 1px solid $colorGrey;
      border-radius: 20px;
      @media screen and (max-width:768px) {
       text-align: center; 
      }
    }
    .col-lg-7 .row{
      align-items: center;
      &:not(.last){
        margin-bottom: 1.2rem;
        padding-bottom: 1.2rem;
        border-bottom: 1px solid rgba($colorSecondary, 0.5);
      }
    }
    .ques-wrapper{
      background: var(--clk);
      text-align: center;
      img{
        height: 84px;
        object-fit: contain;
        object-position: center;
        padding: 10px;
      }
    }
      .rad-btn{
        input{
          opacity: 0;
          visibility: hidden;
          position: absolute;
          &+label{
            text-transform: uppercase;
            color: $colorSecondary;
            background: transparent;
            font-size: 14px;
            padding: 4px 19px;
            border-radius: 40px;
            cursor: pointer;
            border: 1px solid $colorSecondary;
            transition: all 0.5s;
            &:hover{
              background: rgba($colorBlue, 0.2);
            }
          }
          &:checked+label{
              background: $colorSecondary;
              color: $colorWhite;
            }
        }
      }
      .quotes{
        height: 100%;
        position: relative;
        @media screen and (max-width:992px) {
          margin-top: 30px;
        }
        img{
          height: calc(100% - 68px);
    object-fit: cover;
    object-position: 65% 100%;
        }
        .q-wrapper{
        //  position: absolute;
        //  bottom: 0;
        //  left: 0;
         background: rgba($colorBlue, 0.8);
         color: $colorWhite;
         width: 100%;
         padding: 5px 30px;
         h2{
          font-size: 20px;
         }
         em{
          text-align: right;
          display: block;
         }
      }
      }
  }

 
.gevills{
  background: rgba($colorGrey, 0.5);
  margin-top: 70px;
  @media screen and (max-width:992px) {
    margin-top: 50px;
  }
  @media screen and (max-width:768px) {
    margin-top: 40px;
  }
  .col-lg-7{
    padding-bottom: 70px;
    @media screen and (min-width:768px) {
      .primaryHeading{
        text-align: left;
        margin-bottom: 2rem;
      }
    }
  }
}
.background{
  .row{
    @media screen and (max-width:992px) {
      flex-direction: column-reverse;
    }
  }
  .owl-background{
    .owl-nav {
    position: absolute;
    right: 50px;
    @media screen and (max-width:992px) {
      bottom: 0;
    }
    display: flex;
    gap: 5px;
     @media screen and (max-width:768px) {
       bottom: 0;
    right: 0; 
      }
    button{
      background: $colorPrimary;
      width: 30px;
      height: 30px;
      display: grid;
      place-content: center;
      i{
        color: $colorWhite;
      }
    }
}
    .item{
      .contant-para{
         padding: 25px;
         border-left: 8px solid var(--clr);
         background: rgba(var(--clr), 0.2); 
         margin: 40px 0;
         box-shadow: $boxShadow;
         border-radius: 0 10px 10px 0;
        }
    }
  }
  h2{
    @media screen and (min-width:992px) {
      text-align: left;
    }
  }
  .container{
    position: relative;
      .last{
        img{
          height: 25rem;
          object-fit: cover;
          width: 100%;
          object-position: 100% 32%;
          @media screen and (max-width:992px) {
            margin-top: 20px;
          }
        }
      }
    @media screen and (min-width:992px) {
      .first{
      padding: 70px 0 70px 30px;
    }
    }
  }
  .bc-quotes {
    background: #ffffffd6;
  padding-top: 30px;
    .heading-five{
      margin-bottom: 1rem;
      text-align: center;
    }
    border-radius: 15px;
}
}

.empowering{
  blockquote {
    border-left: 5px solid $colorPrimary;
    padding: 30px;
    background: rgba($colorPrimary, 0.2);
}
  .empowering-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    @media screen and (max-width:992px){
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width:768px){
      grid-template-columns: repeat(1, 1fr);
    }
    gap: 4px;
    border: 4px solid $colorWhite;
    box-shadow: $boxShadow;
    .empowering-grid-items{
      position: relative;
      img{
        height: 200px;
        width: 100%;
        object-fit: cover;
      }
      &:hover{
        &::before{
          top: 0;
          height: 100%;
          opacity: 1;
        }
        .fixed-empw{
          top:50%;
          opacity: 1;
          visibility: visible;
        }
      }
      &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 0;
        transition: all 0.5s;
        background: rgba(#000, 0.5);
      }
      .fixed-empw{
        position: absolute;
        top: 100%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        color: $colorWhite;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
      }
    }
}
}

.high-effect{
  .content-para{
        @media screen and (max-width:767.9px) {
          margin-top: 1rem;
        }
  }
  .row.align-items-center{
    margin-top: 3rem;
    p{
      @media screen and (min-width:576.1px) {
        font-size: 20px;
      }
    }
  }
  .wrapper-high {
    display: flex;
    overflow: hidden;
    gap: 8px;
    border: 8px solid $colorWhite;
    box-shadow: $boxShadow;
    img{
      flex:0 0 50%;
      max-width: 50%;
      width: 100%;
    }
}
}
.literacy-area{
  ul.literacy-list {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    li{
      padding: 10px 20px;
      border-left: 5px solid;
      &:nth-child(1){
        background: lighten($colorPink, $amount: 40);
        border-color: $colorPink;
      }
      &:nth-child(2){
        background: lighten($colorGreen, $amount: 70);
        border-color: $colorGreen;
      }
      &:nth-child(3){
        background: lighten($colorOrange, $amount: 33);
        border-color: $colorOrange;
      }
      &:nth-child(4){
        background: lighten($colorBlue, $amount: 40);
        border-color: $colorBlue;
      }
      &:nth-child(5){
        background: lighten($colorYellow, $amount: 0);
        border-color: darken($colorYellow, $amount: 40);
      }
      &:nth-child(6){
        background: lighten($colorPrimary, $amount: 36);
        border-color: $colorPrimary;
      }
      &:not(:last-child){
        margin-bottom: 10px;
      }
    }
}
  .literacyimg-grid {
    display: grid;
    border: 2px solid $colorWhite;
    box-shadow: $boxShadow;
    grid-template-columns: repeat(2, 1fr);
    .literacyimg-grid-item{
      position: relative;
        border: 4px solid $colorWhite;
        &::before{
          content: "";
          background: rgba(#000, 0.4);
          backdrop-filter: blur(2px);
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
          transform: scale(0);
          transition: all 0.5s;
        }
      span.story-book {
        position: absolute;
        bottom: 10px;
        z-index: 1;
        right: 10px;
        background: #fff;
        padding: 8px 16px;
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 600;
        letter-spacing: 0.2px;
        opacity: 0;
        transition: all 0.5s;
        transform: scale(0);
    }
    &:hover{
      &::before{
        opacity: 1;
        transform: scale(1);
      }
      .story-book{
        opacity: 1;
        transform: scale(1);
      }
    }
      @media screen and (min-width:768px) {
        min-height: 275px;
      }
      &:nth-child(3){
        grid-column-start: span 2;
      }
      img{
        height: 100%;
        object-fit: cover;
      }
    }
}
}
.praise-alfa{
  .testimonoial-card{
    text-align: center;
    box-shadow: $boxShadow;
    position: relative;
    @media screen and (min-width:992px) {
      width: calc(100% - 10rem);
      padding: 0 4rem;
      min-height: 403px;
    }
    @media screen and (max-width:991.9px) {
      min-height: 585px;
    }
    padding: 2rem;
    margin: 3rem auto 2rem;
    border-radius: 1rem;
    .pr-quotes{
      position: absolute;
      top: 4rem;
      left: 7rem;
      opacity: 0.1;
      width: 10rem;
      @media screen and (max-width:768px) {
        width: 3rem;
        left: 2rem;
        top: 2rem;
      }
    }
    .pics{
      text-align: center;
      img{
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
        border: 3px solid $colorWhite;
        outline: 3px solid $colorPrimary;
      }
    }
    .test-data{
      .heading-fourth{
        font-size: 30px;
        margin-bottom: 0;
        line-height: 1;
        @media screen and (max-width:768px) {
          font-size: 20px;
        }
      }
      .heading-six{
        font-weight: bold;
        font-size: 20px;
        @media screen and (max-width:768px) {
          font-size: 16px;
        }
      }
      p{
        margin-bottom: 0;
      }
    }
  }
  .owl-nav{
    button{
      box-shadow: $boxShadow;
      background: $colorWhite;
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    @media screen and (min-width:768px) {
      .owl-next{
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    .owl-prev{
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    }
  }
}
.teacher-empowernment{
  padding-top: calc(70px - 2rem);
  @media screen and (max-width:992px) {
    padding-top: calc(50px - 2rem);
  }
  @media screen and (max-width:768px) {
    padding-top: calc(40px - 2rem);
  }
  .emp-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    &__items{
      .card{
        box-shadow: $boxShadow;
        &__heading{
          h6{
            color: $colorWhite;
            background: var(--hclr);
            font-size: 20px;
            font-weight: bold;
            padding: 0.3rem 0.7rem;
          }
        }
        &__content{
          padding: 0.7rem;
        }
      }
    }
  }
  .empower-shot{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
    &__item{
      overflow: hidden;
      img{
        transition: all 0.5s;
        @media screen and (min-width:1200px) {
          min-height: 15.4rem;
          object-fit: cover;
        }
      }
      &:hover img{
        transform: scale(1.3);
      }
      &:last-child{
        grid-column: span 2;
      }
    }
  }
}
.t-empower{
  .guide-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media screen and (max-width:768px) {
      grid-template-columns: repeat(1, 1fr);      
    }
    gap: 10px;
    &__item{
      text-align: center;
      padding: 1rem;
      @media screen and (min-width:1200px) { 
        min-height: 290px;
        display: flex;
    flex-direction: column;
    justify-content: center;
      }
      background: var(--bclr);
    }
    img{
      width: 6rem;
      margin: 0 auto 1rem;
    }
  }
}
.certificate{
  background-image: url(../images/certificate-bg.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 0;
  margin-top: 70px;
  @media screen and (max-width:992px) {
    padding: 50px 0;
    margin-top: 50px;
  }
  @media screen and (max-width:768px) {
    padding: 40px 0;
    margin-top: 40px;
  }
  position: relative;
  &::before{
    content: "";
    @media screen and (min-width:992px) {
      background-image: repeating-linear-gradient(-45deg, #ffffff, #ffffff 10%, #e6e7e8 0, #e6e7e8 28%);
    }
    position: absolute;
    width: 100%;
    height: 12rem;
    bottom: 8rem;
    left: 0;
    z-index: 0;
    @media screen and (min-width:992px) and (max-width:1199.9px){
      height: 9.7rem;
    }
  }
  .container{
    position: relative;
    z-index: 1;
  }
  @media screen and (max-width:992px) {
    padding: 50px 0;
  }
  @media screen and (max-width:768px) {
    padding: 40px 0;
  }
  .certi{
    padding: 1rem 0;
    position: relative;
    bottom: 58px;
    @media screen and (max-width:992px) {
      margin-bottom: 30px;
    text-align: center;
    }
    @media screen and (max-width:991.9px) {
      background-image: repeating-linear-gradient(-45deg, #ffffff, #ffffff 10%, #e6e7e8 0, #e6e7e8 28%);
      bottom: 0;
    padding: 1rem;
    }
  }
  h2{
    font-size: 4rem;
  }
  h3{
    @media screen and (min-width:992px) {
      text-align: right;
    }
    font-size: 3.5rem;
  }
  @media screen and (max-width:991.9px) {
    h2{
    font-size: 2rem;
  }
  h3{
    font-size: 1.5rem;
  }
}

  @media screen and (min-width:992px) and (max-width:1199.9px) {
    h2{
    font-size: 3rem;
  }
  h3{
    text-align: right;
    font-size: 2.5rem;
  }
  }
}
.toolkit-book{
  nav{
    border-left: 1px solid $colorSecondary;
    border-right: 1px solid $colorSecondary;
  }
  .nav-link{
    width: 33.3333%;
    padding: 1rem;
    @media screen and (max-width:576px) {
      padding: 1rem 0.5rem;
    }
    color: $colorWhite;
    background: $GradientOne;
    border-radius: 0;
    &.active{
      background: $colorSecondary;
      color: $colorWhite;
      position: relative;
      &::before{
        content: "";
        background: $colorSecondary;
        width: 15px;
        height: 15px;
        transform: translateX(-50%) rotate(45deg);
        left: 50%;
        bottom: -7.5px;
        position: absolute;
      }
    }
  }
  .tab-content{
    padding: 2rem 3rem;
    border: 1px solid $colorSecondary;
    border-top: none;
    @media screen and (max-width:768px) {
      .col-md-4:not(:last-child){
        img{
          margin-bottom: 20px;
        }
      }
    }
    .row{
      @media screen and (max-width:768px) {
        gap: 30pxn;
      }
    }
    .tab-pane{
      &:nth-child(1){
      p{
        background: rgba($colorPrimary, 0.2);
      }
    }
    &:nth-child(2){
      p{
        background: rgba($colorBlue, 0.2);
      }
    }
    &:nth-child(3){
      p{
        background: rgba($colorGreen, 0.2);
      }
    }
    }
    p{
      padding: 2rem 1rem;
      margin-bottom: 2rem;
      border-radius: 10px;
      @media screen and (max-width:768px) {
        padding: 0.5rem;
      }
    }
    img{
      box-shadow: $boxShadow;
      @media screen and (min-width:1200px) {
        width: calc(100% - 100px);
      }
      margin: auto;
      display: block;
    }
  }
}
.paying-forward{
  .paying-card{
    @media screen and (max-width:992.1px) {
      margin-top: 2rem; 
    }
    position: relative;
    padding: 30px 20px 0px 40px;
    min-height: 243px;
    background-color: rgba($colorBlue, 0.2);
    display: grid;
    .icons{
      @media screen and (max-width:767.0px) {
        text-align: center;
      }
      @media screen and (min-width:768px) {
        position: absolute;
      top: 0;
      left: 0;
      }
      img{
        width: 2.5rem;
      }
    }
    a{
      color: $colorBlack;
      text-decoration: underline!important;
      font-weight: 500;
    }
     .whtsap{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      img{
        width: 5rem;
      }
  }
  .thumnail{
    height: 215px;
    object-fit: cover;
    width: 100%;
  }
}
.paying-gallery{
  .owl-nav{
    .owl-prev, .owl-next {
    position: absolute;
    top: 43%;
    transform: translateY(-50%); background: rgba($colorWhite, 0.8)!important;
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    transition: all 0.5s;
    &:hover{
      background: $colorWhite!important;
    }
    i{
      color: $colorSecondary;
    }
}
  .owl-prev{
      left: 0;
    }
    .owl-next {
    right: 0;
}
  }
  .item{
    overflow: hidden;
    .pay-img{
      overflow: hidden;
      position: relative;
      &::before{
        content: "";
        background: rgba(#000, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
      }
      &:hover{
        &::before{
          opacity: 1;
        visibility: visible;
        z-index: 1;
        }
        img{
          transform: scale(1.1);
        }
      }
    }
    img{
      height: 290px;
      transition: all 0.5s;
      object-fit: cover;
      object-position: top;
      width: 100%;
    }
  }
}
footer{
  margin-top: 70px;
  @media screen and (max-width:992px) {
    margin-top: 50px;
  }
  @media screen and (max-width:768px) {
    margin-top: 40px;
  }
  .border-footer{
    background: $colorWhite;
    height: 5px;
    width: 10rem;
    margin: 1.5rem 0;
  }
  background: $colorSecondary;
  padding-bottom: 70px;
  // margin-top: 70px;
  position: relative;
  &::before{
    content: "";
    background-image: url(../images/image191.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    mix-blend-mode: hard-light;
    background-position: 100% 30%;
    background-repeat: no-repeat;
  }
  .container{
    position: relative;
  }
  @media screen and (max-width:992px) {
    padding-bottom: 50px;
  }
  @media screen and (max-width:768px) {
    padding-bottom: 40px;
  }
  h2{
    @media screen and (min-width:768px) {
      text-align: left!important;
    }
  }
  .code-scanner{
    display: flex;
    align-items: center;
    img{
      width: 4rem;
      margin-right: 10px;
    }
    p{
      color: $colorWhite;
      align-items: center;
      width: 25rem;
      margin-bottom: 0;
      @media screen and (max-width:575px) {
        width: 100%;
      }
    }
  }
  .f-logo{
    width: 14rem;
  }
  ul.footer-touch {
    list-style: none;
    padding: 0;
    margin: 3rem 0 0 0;
    li{
      color: $colorWhite;
      font-size: 20px;
      i{
        font-size: 2rem;
      }
      &:not(:first-child){
        display: flex;
    align-items: center;
    gap: 1rem;
      }
      &:not(:last-child){
        margin-bottom: 1rem;
      }
      a{
        color: $colorWhite;
      }
    }
}
img.footer-alfa {
    width: 20rem;
    float: right;
    filter: brightness(6);
    margin-top: 2rem;
}
}

.inner-section{
  background: $colorSecondary;
  position: relative;
  min-height: 450px;
  display: grid;
  place-content: center;
  
    @media screen and (max-width:992px) and (min-width:576px) {
      min-height: 380px;
    }
    @media screen and (max-width:575.9px) {
      min-height: 250px;
    }
  &::before{
        content: "";
    background-image: url(../gallery/img/image191.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    mix-blend-mode: soft-light;
    background-position: 100% 30%;
    background-repeat: no-repeat;
  }
  .container{
    position: relative;
  }
  h1{
    padding-top: 50px;
    text-transform: uppercase;
    color: $colorWhite;
    font-size: 72px;
    @media screen and (max-width:992px) and (min-width:576px) {
      font-size: 48px;
    }
    @media screen and (max-width:575.9px) {
      font-size: 36px;
    }
  }
}

.lightbox-gallery{
  .carousel-indicators {
    display: none;
}
    @keyframes zoomin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.gallery-item {
  display: block;
}
.carousel-control-next-icon, .carousel-control-prev-icon{
    filter: none!important;
    &::after{
        width: 100%;
        height: 4rem;
        filter: brightness(10);
    }
}
.gallery-item img {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.2s;
  height: 270px;
  width: 100%;
  object-fit: cover;
  object-position: top;
  @media screen and (max-width:575.9px) {
    height: 240px;
  }
}

.gallery-item:hover img {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.35);
}

.lightbox-modal .modal-content {
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(5px);
  cursor: -webkit-grabbing;
}

.lightbox-modal .btn-close {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  font-size: 2.2rem;
  z-index: 10;
  filter: invert(1) grayscale(100);
  @media screen and (max-width:575.9px) {
    font-size: 1rem;
  }
}

.lightbox-modal .modal-body {
  display: flex;
  align-items: center;
  padding: 0;
}

.lightbox-modal .lightbox-content {
  width: 100%;
}

.lightbox-modal .carousel-indicators {
  margin-bottom: 0;
}


.lightbox-modal .carousel-inner {
  width: 75%;
}

.lightbox-modal .carousel-inner img {
  animation: zoomin 10s linear infinite;
  max-height: 80vh;
  object-fit: cover;
  object-position: top;
}

.lightbox-modal .carousel-item .carousel-caption {
  right: 0;
  bottom: 0;
  left: 0;
  padding-bottom: 2rem;
  h4{
    color: $colorWhite;
    background: rgba($colorBlack, 0.8);
    padding: 10px;
  }
}

.lightbox-modal .carousel-control-prev,
.lightbox-modal .carousel-control-next {
  width: auto;
}

.lightbox-modal .carousel-control-prev {
  left: 1.25rem;
}

.lightbox-modal .carousel-control-next {
  right: 1.25rem;
}

@media (min-width: 1400px) {
  .lightbox-modal .carousel-inner {
    max-width: 60%;
  }
}

[data-bs-theme = "dark"] .lightbox-modal .carousel-control-next-icon,
[data-bs-theme = "dark"] .lightbox-modal .carousel-control-prev-icon {
    filter: none;
}

.btn-fullscreen-enlarge,
.btn-fullscreen-exit {
  position: absolute;
  top: 1.25rem;
  right: 3.5rem;
  z-index: 10;
  border: 0;
  background: transparent;
  opacity: .6;
  font-size: 1.25rem;
}
}
.cms-cis-gallery{
  .gallery-cis{
    img{
      height: 206.2px;
      object-fit: cover;
      object-position: top;
      border: 2px solid $colorSecondary;
      border-radius: 10px;
      width: 100%;
    }
  }
  .owl-nav{
    display: flex;
    gap: 5px;
    justify-content: flex-end;
    button i{
      color: $colorWhite;
      background: $colorSecondary;
      padding: 10px;
    }
  }
  .gal-btn{
    text-align: center;
    a{
      background: $colorSecondary;
      text-transform: capitalize;
      font-weight: 700;
      border-radius: 30px;
      width: 270px;
      border: 1px solid $colorSecondary;
      transition: all 0.5s;
      &:hover{
        background: transparent;
        color: $colorSecondary;
      }
    }
  }
}