/* --------------------- Variable   ----------------------------*/

$colorPrimary: #f48a3c;
$colorSecondary: #3e4095;
// $colorTertiary: #ffd895;
$colorBorder:#80cfd7;
$colorBlack: #373435;
$colorWhite: #ffffff;
$colorPink:#ec268f;
$colorGreen:#004d25;
$colorBlue:#00afef;
$colorOrange:#ffcc29;
$colorGrey:#d2d3d5;
$colorPurple:#9e398f;


$GradientOne:linear-gradient(135deg, rgba(65,183,233,1) 0%, rgba(36,130,196,1) 50%);

$boxShadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

/* --------------------- Base  ----------------------------*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}

body{
  overflow-x: hidden;
}

*, html, body{
  scroll-behavior: smooth!important;
}

/* --------------------- Base  End ----------------------------*/

/* --------------------- Fonts ----------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
a,
span,
li, 
figcaption {
  font-family: "Open Sans", sans-serif;
  line-height: 1.82;
    font-size: 16px;
  @media screen and (min-width:576.1px) and (max-width:992px) {
    font-size: 15px;
  }
  @media screen and (max-width: 576px) {
    line-height: 26px;
    font-size: 15px;
  }
}
span {
  line-height: normal;
}
figure {
    margin: 0;
    text-align: center;
    border: 2px solid #fff;
    outline: 3px solid $colorOrange;
    border-radius: 10px 10px;
    figcaption{
        background: $colorOrange;
        color: $colorWhite;
        text-transform: uppercase;
        text-align: center;
        padding: 5px 0;
        border-radius: 0 0 10px 10px;
    }
}

// Animation
@keyframes slidetop {
  from {
    transform: translateY(-30px);
    opacity: 1;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes bounce {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

// Mixins

.primaryHeading {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  line-height: 1;
  span{
    text-transform: lowercase;
    font: inherit;
  }
  .skyh{
    text-transform: uppercase;
    color: transparent;
    background-image: $GradientOne;
    -webkit-background-clip:text;
  }
  @media screen and (min-width:576.1px) and (max-width:992px) {
    font-size: 3rem;
    line-height: 1.2;
  }
  @media screen and (max-width: 576px) {
    line-height: 40px;
    font-size: 2rem;
  }
}
.heading-five{
    font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: $colorPrimary;
  line-height: 1;
  margin-bottom: 0;
  @media screen and (max-width: 576px) {
    line-height: 40px;
    font-size: 1.4rem;
  }
}
.heading-six{
    font-size: 1rem;
  font-weight: 400;
  line-height: normal;
  color: $colorSecondary;
    padding: 10px 0;
    @media screen and (min-width:576.1px) and (max-width:992px) {
      font-size: 1rem;
    }
  @media screen and (max-width: 576px) {
    line-height: 28px;
    font-size: 0.7rem;
  }
}
.secondaryHeading {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 20px;
  color: #cf1313;
  width: fit-content;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 576px) {
      line-height: 24px;
      font-size: 1.2rem;
    }
}
.space40 {
  height: 4rem;
  @media screen and (max-width:768px) {
    height: 2rem;
  }
}
.space30 {
    height: 3rem;
    @media screen and (max-width:768px) {
      height: 2rem;
    }
  }

  .sub-heading{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    color: $colorPrimary;
    text-align: center;
  }

  .heading-fourth {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 0.4px;
}

.mt-large{
  padding-top: 70px;
  @media screen and (max-width:992px) {
    padding-top: 50px;
  }
  @media screen and (max-width:768px) {
    padding-top: 40px;
  }
}

.primary-list{
  list-style: none;
  li{
    position: relative;
    padding-left: 10px;
    &:not(:last-child){
      padding-bottom: 10px;
    }
    &::before{
      content: "";
      background: $colorPrimary;
      position: absolute;
      top: 10px;
      left: -10px;
      width: 10px;
      height: 10px;
    }
  }
}


// Main Styling

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: all 0.5s;
  &.fixed-header {
    background: $colorWhite;
    animation: slidetop;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .logo-grid img{
      filter: none!important;
    }
    @media screen and (min-width:992px) {
      .container{
        padding: 6px 0;
        transition: all 0.5s;
        .logo-grid img {
          max-width: 120px;
          transition: all 0.5s;
        }
      }
    }
    .nav-item {
      &:not(:last-child){
        border-right: 1px solid rgba($colorPrimary, 0.2)!important;
      }
      a{
        color: $colorSecondary!important;
      }
    }
    .container {
      padding: 5px 0;
    }
    .toggle-me-now span {
      background-color: $colorSecondary !important;
    }
  }
  .container {
    padding: 25px 0;
  }
  .header-grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width:576px) {
      width: calc(100% - 20px);
    margin: auto;
    }
    @media screen and (max-width:575.9px) {
      width: calc(100% - 20px);
    margin: auto;
    }
    .logo-grid {
      img {
        max-width: 200px;
        width: 100%;
        filter: brightness(12);
        @media screen and (min-width:992px) and (max-width:1199.9px) {
          max-width: 150px;
        }
        @media screen and (max-width:992px) {
          max-width: 120px;
        }
      }
    }
    .navigation-link {
      ul.navlist {
        margin: 0;
        padding: 0;
        list-style: none;
        @media screen and (max-width:991.9px) {
          position: fixed;
          left: 0;
          top: 0;
          height: 100%;
          background: #fff;
          transform: translateX(-100%);
          transition: all 0.5s;
          padding: 30px 0;
          .nav-item a{
            color: $colorPrimary;
          }
          li{
            padding-left: 30px;
              padding-right: 30px;
            &:not(:last-child){
              padding-bottom: 10px;
              margin-bottom: 10px;
              border-bottom: 1px solid rgba($colorPrimary, 0.2);
              border-right: none!important;
            }
            &:first-child{
              border-bottom: none;
            }
          }
          .mobile-logo{
            width: 150px;
          }
        }
        @media screen and (max-width:991.9px) and (min-width:576px) {
          width: 400px;
        }
        @media screen and (max-width:575.9px) {
          width: 75%;
        }
        li{
          &.nav-item {
            @media screen and (min-width:992px) {
              display: inline-block;
            }
            @media screen and (max-width:991.9px) {
              
            }
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 500;
            @media screen and (min-width:992px) and (max-width:1199.9px) {
              font-size: 14px;
            }
            &:not(:last-child){
              margin-right: 7px;
              padding-right: 7px;
              border-right: 1px solid rgba($colorWhite, 0.2);
              @media screen and (min-width:1400px) {
                margin-right: 12px;
    padding-right: 12px;
              }
            }
        }
          a{
            color: $colorWhite;
          }
        }
    }
      .toggle-me-now {
        background: transparent;
        border: none;
        outline: none;
        @media screen and (min-width:992px) {
          display: none;
        }
        span{
          height: 3px;
          background-color: $colorWhite;
          margin-left: auto;
          &:nth-child(1){
            width: 30px;
          }
          &:nth-child(2){
            width: 25px;
            margin-top: 5px;
            margin-bottom: 5px;
          }
          &:nth-child(3){
            width: 20px;
          }
        }
      }
      .collapse-now ~ ul.navlist {
        transform: translateX(0)!important;
    }
    }
  }
}
.heroSection{
  min-height: 100vh;
  background-image: $GradientOne;
  .kidsGrid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
  @media screen and (max-width:768px) {
    grid-template-columns: repeat(1, 1fr);
    height: auto;
    padding-top: 140px;
    padding-bottom: 50px;
  }
    align-items: center;
    justify-content: space-between;
    &__Items{
      h1{
        font-size: 60px;
        color: $colorWhite;
        font-weight: 700;
        text-transform: uppercase;
  @media screen and (max-width:768px) {
    font-size: 36px;
  }
      }
      h2{
        font-size: 24px;
        color: $colorWhite;
        font-weight: 700;
        text-transform: uppercase;
      }
      h3{
        font-size: 24px;
        color: $colorWhite;
        font-weight: 300;
        margin-bottom: 30px;
        padding: 8px;
        width: fit-content;
        border-top: 1px solid $colorWhite;
        border-bottom: 1px solid $colorWhite;
        text-transform: uppercase;
        span{
          font:inherit;
        }
      }
      h6{
        font-size: 18px;
        color: $colorWhite;
        font-weight: 700;
        text-transform: uppercase;
      }
      span{
        font-size: 15px;
        color: $colorWhite;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
}
}
.why-sky{
  .why-box-grid{
    gap:30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    @media screen and (max-width:992px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width:768px) {
    grid-template-columns: repeat(1, 1fr);
  }
    .why-box-grid-items{
      &:nth-child(1){
        .outer-box{
          border-color: $colorPink;
          &:hover{
            background: $colorPink;
          }
        }
      }
       &:nth-child(2){
        .outer-box{
          border-color: $colorOrange;
          &:hover{
            background: $colorOrange;
          }
        }
      }
       &:nth-child(3){
        .outer-box{
          border-color: $colorPurple;
          &:hover{
            background: $colorPurple;
          }
        }
      }
       &:nth-child(4){
        .outer-box{
          border-color: $colorGreen;
          &:hover{
            background: $colorGreen;
          }
        }
      }
       &:nth-child(5){
        .outer-box{
          border-color: $colorBlue;
          &:hover{
            background: $colorBlue;
          }
        }
      }
       &:nth-child(6){
        .outer-box{
          border-color: $colorPrimary;
          &:hover{
            background: $colorPrimary;
          }
        }
      }
    }
  }
  .outer-box{
    border: 5px solid;
    padding: 40px;
    display: grid;
    place-content: center;
    min-height: 195px;
    text-align: center;
    border-radius: 30% 0 30% 0;
    transition: all 0.5s;
    &:hover{
      border-radius: 0 30% 0 30%;
      h4{
        transition: all 0.5s;
        color: $colorWhite;
      }
    }
  }
  .edu-table{
    table, tr, td{
      border: 1px solid $colorGrey;
      border-collapse: collapse;
    }
    td, th {
    padding: 6px 20px;
}
tr{
  td{
    transition: all 0.5s;
    &:nth-child(1){
      &:hover{
        background: rgba($colorBlue, 0.1);
      }
    }
    
    &:nth-child(2){
      &:hover{
        background: rgba($colorOrange, 0.1);
      }
    }
  }
}
th{
  &:nth-child(1){
    background: lighten($colorBlue, $amount: 25);
    color: darken($colorBlue, $amount: 25);
  }
  &:nth-child(2){
    background: lighten($colorOrange, $amount: 15);
    color: darken($colorOrange, $amount: 25);
  }
}
  }
}
.alfa-sky-high{
  .owl-nav{
    position: absolute;
    display: flex;
    gap: 5px;
    bottom: -15px;
    button{
      background: $colorSecondary!important;
      width: 30px;
      height: 30px;
      display: grid;
      place-content: center;
      i{
        color: $colorWhite;
      }
    }
  }
  .sunita{
    &__img{
      img{
        height: 13.5rem;
      }
      ul{
        padding: 15px 10px;
        list-style: none;
        margin-bottom: 0;
        li{
          font-size: 14px;
        }
      }
     } 
    }
    .training-group{
        margin-top: 50px;
      .item{
        &__img{
          background-image: linear-gradient(148deg, rgba(36,130,196,0.1) 50%, rgba(65,183,233,0.1) 50%);
          border: 3px solid $colorSecondary;
          border-radius: 10px 10px 0 0;
          img{
            width: 100%;
            object-fit: contain;
            height: 250px;
          margin: auto;
          }
        }
        &__content{
          padding: 20px;
          text-align: center;
          background: $colorSecondary;
          border-radius: 0 0 10px 10px;
          h5{
            color: $colorWhite;
          }
          h6{
            color: $colorWhite;
          }
        }
      }
    }
  }
  .key-question{
    .mx-auto .container{
      padding: 30px;
      box-shadow: $boxShadow;
      border: 1px solid $colorGrey;
      border-radius: 20px;
    }
    .row{
      align-items: center;
      &:not(.last){
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid rgba($colorSecondary, 0.5);
      }
    }
    img{
        width: 8rem;
      }
      .rad-btn{
        input{
          opacity: 0;
          visibility: hidden;
          position: absolute;
          &+label{
            text-transform: uppercase;
            color: $colorSecondary;
            background: transparent;
            font-size: 14px;
            padding: 4px 19px;
            border-radius: 40px;
            cursor: pointer;
            border: 1px solid $colorSecondary;
            transition: all 0.5s;
            &:hover{
              background: rgba($colorBlue, 0.2);
            }
          }
          &:checked+label{
              background: $colorSecondary;
              color: $colorWhite;
            }
        }
      }
  }

  section.quotes {
    min-height: 475px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    padding-top: 7rem;
    position: relative;
    &::before{
      content: "";
      background: #000;
      opacity: 0.2;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .container{
      position: relative;
    }
    .quote-wrapper{
      background: rgba($colorBlue, 0.8);
      border: 8px solid rgba($colorWhite, 0.8);
      h2{
        color: $colorWhite;
        font-weight: 400;
        font-size: 36px;
      }
      em{
        color: $colorWhite;
        font-weight: 400;
        font-size: 36px;
      }
      @media screen and (min-width:768px) {
        width: 575px;
        padding: 30px;
      }
    }
}
.gevills{
  background: rgba($colorGrey, 0.5);
  margin-top: 70px;
  @media screen and (max-width:992px) {
    margin-top: 50px;
  }
  @media screen and (max-width:768px) {
    margin-top: 40px;
  }
  .col-lg-7{
    padding: 0 0 70px 0;
    @media screen and (min-width:768px) {
      .primaryHeading{
        text-align: left;
        margin-bottom: 2rem;
      }
    }
  }
}
.background{
  .owl-background{
    .owl-nav {
    position: absolute;
    right: 50px;
    display: flex;
    gap: 5px;
    button{
      background: $colorPrimary;
      width: 30px;
      height: 30px;
      display: grid;
      place-content: center;
      i{
        color: $colorWhite;
      }
    }
}
    .item{
      .contant-para{
         padding: 25px;
         border-left: 8px solid var(--clr);
         background: rgba(var(--clr), 0.2); 
         margin: 40px 0;
        }
    }
  }
  h2{
    @media screen and (min-width:992px) {
      text-align: left;
    }
  }
  .container{
    position: relative;
    @media screen and (min-width:0.9px) {
      .last{
        background-image: url(../images/bg-02.jpg);
        padding: 4rem 3rem;
        background-repeat: no-repeat;
    background-position: right center;
    background-attachment: fixed;
    background-size: cover;
      }
    }
    @media screen and (min-width:992px) {
      .first{
      padding: 70px 0;
    }
    }
  }
  .bc-quotes {
    background: #ffffffd6;
    padding: 20px 50px;
    .heading-five{
      margin-bottom: 1rem;
      text-align: center;
    }
    border-radius: 15px;
}
}
.empowering{
  blockquote {
    border-left: 5px solid $colorPrimary;
    padding: 30px;
    background: rgba($colorPrimary, 0.2);
}
  .empowering-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 4px;
    border: 4px solid $colorWhite;
    box-shadow: $boxShadow;
    .empowering-grid-items{
      position: relative;
      img{
        height: 200px;
        width: 100%;
        object-fit: cover;
      }
      &:hover{
        &::before{
          top: 0;
          height: 100%;
          opacity: 1;
        }
        .fixed-empw{
          top:50%;
          opacity: 1;
          visibility: visible;
        }
      }
      &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 0;
        transition: all 0.5s;
        background: rgba(#000, 0.5);
      }
      .fixed-empw{
        position: absolute;
        top: 100%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        color: $colorWhite;
        font-size: 20px;
        font-weight: 700;
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s;
      }
    }
}
}

.high-effect{
  .wrapper-high {
    display: flex;
    overflow: hidden;
    gap: 8px;
    border: 8px solid $colorWhite;
    box-shadow: $boxShadow;
    img{
      flex:0 0 50%;
      max-width: 50%;
      width: 100%;
    }
}
}